<div class="container-fluid mb-3">
  <nav class="navbar navbar-expand-lg bg-light mb-3 rounded" data-bs-theme="light">
    <div class="container-fluid">
      <a class="navbar-brand fw-medium" routerLink="">
        <i class="bi bi-archive"></i>
        Client Management Software</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarMenu" aria-controls="navbarMenu" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarMenu">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0 text-center">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" routerLink="home" routerLinkActive="active">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/new" routerLinkActive="active">Create New Client</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/clients" routerLinkActive="active">Client List</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/schMeeting" routerLinkActive="active">Schedule Meeting</a>
          </li>
         
        </ul>
      </div>
    </div>
  </nav>
</div>

<router-outlet></router-outlet>
