<div class="container-lg">
    <div class="row align-items-center">

        <div class="col-md-4 vstack mt-3">
            
                <button routerLink="/new" class="btn btn-success mt-auto">Create a New Client</button>
                <button routerLink="/clients" class="btn btn-success my-4">Current Client List</button>
                <button routerLink="/schMeeting" class="btn btn-success mb-auto">Schedule a New Meeting</button>
            
        </div>
        <div class="col-md-8 mt-3">


            <img class="img-fluid rounded" src="cms-logo.png" alt="cms-logo">
        </div>


    </div>
</div>